// Colors
$white: #ffffff;
$black: #000000;
$gray-lighter: #eaeaea;
$gray-light: #dedede;
$gray: #d4d4d4;
$gray-medium: #999;
$gray-dark: #6c6c6c;
$gray-darker: #585b63;
$gray-darkest: #474747;
$blue-jack: #4674c1;
$blue: #19b5fe;
$blue-facebook: #3b5998;
$blue-twitter: #55acee;
$green: #72cc96;
$green-dark: #4dbe7a;
$green-darker: #399f62;
$red: #ee5f5b;
$yellow-light: #ff0;
$yellow: #f89406;
$aqua: #7fdbff;
$overlay-color: $white;

// Font
$jack-font: Avenir, sans-serif;
$code-font: "LiberationMonoRegular", monospace;
$font-size-h1-h2: 14px;

// Break points
$small: 750px;
