<div class="overlay">
  <ul class="projects-menu">
    {% for item in site.data.projects %} {% capture image %}{{ item.image }}{%
    endcapture %} {% unless image contains 'http://' or image contains
    'https://' %} {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
    {% endunless %}
    <li style="background:url({{ image }}) center center no-repeat;">
      <a href="{{site.url}}/{{ item.url }}" rel="nofollow external">
        <span>
          {{ item.title }}
          <br /><em>{{item.year}}</em>
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
