---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="homepage">
    <div
      class="block-left"
      style="
  background: linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9)), url({{ page.imageLg }}) no-repeat;
  background-size: cover;
  "
    >
      <div class="content">
        <div class="home-link">
          <a href="/" class="home-logo">
            {% include jack-logo.html %}
          </a>
          <span>HOME</span>
        </div>

        <div class="main-info">
          <div class="logo">
            <img src="{{ page.icon }}" />
          </div>
          <h1>
            {{ page.title }}
          </h1>
          <h2>
            {{ page.year }}
          </h2>
          <a
            href="{{ page.heroku }}"
            class="btn btn_heroku"
            title="Share on Google Plus"
            target="_blank"
          >
            <span>Visit Site</span>
          </a>
          <a
            href="{{ page.github }}"
            class="btn btn_github"
            title="Share on Google Plus"
            target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i>
            <span> GitHub</span>
          </a>
        </div>
      </div>
    </div>

    <div class="block-right">
      <a title="project" class="projects-menu-icon">
        <span></span>
      </a>
      <span class="projects-link">PROJECTS</span>
      <div class="content">
        <div class="about-info">
          {{ content }}
        </div>
      </div>
    </div>
    {% include overlay.html %} {% include scripts.html %}
  </body>
</html>
